<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Lookup</title>
  <link rel="stylesheet" href="styles/form.css">
  <link rel="stylesheet" href="styles/feature.css">
</head>

<body>
  <h1>Lookup a Movie!</h1>
  <form id="lookup-form" name="lookup-form" action="lookup" method="POST">
    <label>
      Movie Name
      <input type="text" id="movie" name="movie" value="<%= data.movie %>" />
    </label>
    <label>
      Genre
      <input type="text" id="genre" name="genre" value="<%= data.genre %>" />
    </label>
    <label>
      Minimum Rating
      <input type="number" id="rating" name="rating" value="<%= data.rating%>" />
    </label>
    <label>
      Sort by
      <select name="sort" id="sort" value="<%= data.sort %>">
        <option value="name">Name</option>
        <option value="rating">Rating</option>
        <option value="genre">Genre</option>
      </select>
    </label>
    <% if (errors) { %>
      <ul class="errors">
        <% errors.forEach((error)=> { %>
          <li>
            <%= error %>
          </li>
          <% }); %>
      </ul>
      <% } %>
        <button type="submit" id="submit">Search</button>
  </form>
  <div class="links">
    <a href="/all-recommendations" class="link-btn">
      See All Recommendations </a>
    <a href="/recommendations" class="link-btn">
      Find Recommendations </a>
    <a href="/" class="link-btn">
      Make a Recommendation </a>
  </div>
  <% if (results.length> 1) { %>
    <h2>Results:</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Movie</th>
          <th>Genre</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach(movie=> { %>
          <tr>
            <td>
              <%= movie.movie %>
            </td>
            <td>
              <%= movie.genre %>
            </td>
            <td>
              <%= movie.rating %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <% } %>
</body>

</html>