<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="styles/form.css">
    <link rel="stylesheet" href="styles/feature.css">
    <script defer src="scripts/select.js"></script>
</head>

<body>
    <h1>Find Recommended Movies to Watch!</h1>
    <form id="recommendations-form" name="recommendations-form" action="recommendations" , method="POST">
        <label>
            Genre
            <select id="genre" name="genre">
                <option value="action" <%=data.genre==='action' ? 'selected' : '' %>>Action</option>
                <option value="comedy" <%=data.genre==='comedy' ? 'selected' : '' %>>Comedy</option>
                <option value="drama" <%=data.genre==='drama' ? 'selected' : '' %>>Drama</option>
                <option value="sci-fi" <%=data.genre==='sci-fi' ? 'selected' : '' %>>Sci-Fi</option>
                <option value="horror" <%=data.genre==='horror' ? 'selected' : '' %>>Horror</option>
                <option value="other" <%=data.genre==='other' ? 'selected' : '' %>>Other</option>
            </select>
            <input type="text" id="customGenre" name="customGenre" placeholder="Enter the genre"
                value="<%= data.customGenre %>">
        </label>
        <label>
            Minimum Rating
            <input type="number" id="rating" name="rating" value="<%= data.rating%>" />
        </label>
        <label>
            Number of Movies to Recommend
            <input type="number" id="quantity" name="quantity" value="<%= data.quantity%>" />
        </label>
        <label>
            Sort by
            <select name="sort" id="sort" value="<%= data.sort %>">
                <option value="name">Name</option>
                <option value="rating">Rating</option>
            </select>
        </label>
        <% if (errors) { %>
            <ul class="errors">
                <% errors.forEach((error)=> { %>
                    <li>
                        <%= error %>
                    </li>
                    <% }); %>
            </ul>
            <% } %>
                <button type="submit" id="submit">Find Recommendations</button>
    </form>
    <div class="links">
        <a href="/all-recommendations" class="link-btn">
            See All Recommendations </a>
        <a href="/lookup" class="link-btn">
            Lookup Movies </a>
        <a href="/" class="link-btn">
            Make a Recommendation </a>
    </div>
    <% if (results.length> 1) { %>
        <h2>Results:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(movie=> { %>
                    <tr>
                        <td>
                            <%= movie.movie %>
                        </td>
                        <td>
                            <%= movie.genre %>
                        </td>
                        <td>
                            <%= movie.rating %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } %>
</body>

</html>